<div>  
  <table style="width:100%" border = "0">
    <tr>
      <td>id</td>
      <td>college_name</td>
      <td>esta_year</td>
    </tr>
    
    <tr>
      <td><%= @college.id %> </td> 
      <td><%= @college.college_name %> </td> 
      <td><%= @college.esta_year %></td>
    </tr>
  </table>
</div>